body {
  font-family: 'Montserrat', sans-serif;
  background: url('/background3.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.content-wrap {
  position: relative;
  z-index: 2;
}

.navbar {
  background-color: #1c1c1c;
  border-bottom: 2px solid #333;
}

.navbar-brand {
  font-family: 'Montserrat', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #FFD700;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
}

.container {
  margin-top: 80px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  margin: 5px;
}

.list-group-item {
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px; 
  border: 1px solid #444;
  width: 70%; 
}

.list-group-item h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.list-group-item p {
  margin: 5px 0;
}

.list-group-item .contact-info {
  display: flex;
  justify-content: space-between;
}

.list-group-item .visit a {
  color: #FFD700;
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.form-check {
  display: inline-block;
  margin-right: 20px;
}

.form-check-label {
  margin-left: 5px;
}

#locationSelect, #parkTypeSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  border-bottom: 1px solid #444; 
  padding-bottom: 10px;
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#resultsList {
  margin-top: 20px;
}
