/* Style for navbar bottom border */
.navbar {
  border-bottom: 2px solid #333;
}
.logo-font {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #FFD700; /* Golden color to make it stand out */
}

.hero-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.carousel-item {
  height: 100vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

/* Overlay for the entire hero section */
.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Black transparent overlay */
  z-index: 1;
}
.hero-content .btn-group .btn {
    margin-right: 15px; /* Adjust the margin as needed */
}

.hero-content .btn-group .btn:last-child {
    margin-right: 0; /* Remove margin from the last button */
}